<div class="mt-5 container">
    <div class="col-md-6 m-auto">
        <div class="card card-body bg-gray shadow">
            <h1 class="text-center mb-3 text-orange"><i class="fas fa-sign-in-alt"></i> <span class="text-dirty"><%- adminLogin.welcomeMsg %></span></h1>
            <form action="/adminLogin" method="POST">
                <div class="form-group text-dirty">
                    <label for="name"><%- adminLogin.nameLabel %></label>
                    <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control bg-dirty"
                    required
                    />
                </div>
                <div class="form-group text-dirty">
                    <label for="password"><%- adminLogin.passwordLabel %></label>
                    <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control bg-dirty"
                    required
                    />
                </div>
                <button type="submit" class="btn btn-orange btn-block"><%- adminLogin.loginBtn %></button>
            </form>
        </div>
    </div>
</div>