<div class="row">
    <div class="col-4">
        <div class="row">
            <%- include('partials/category-buttons'); %>
        </div>
    </div>
    <div class="col-4">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Authorize</th>
                </tr>
            </thead>
            <tbody id="playerTableBody">
                <%- include('partials/players'); %>
            </tbody>
        </table>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let playerTableBody = $('#playerTableBody');
    let categoryBtn = $('.btn-category');

    $(document).ready(() => {
        socket.emit('postAdminSocketId');
    });

    socket.on('showPlayer', (data) => {
        addPlayerToList(data.player);
    });

    socket.on('playerLeft', (data) => {
        $(document).find('#' + data.playerSocketId).remove();
    });

    categoryBtn.on('click', function () {
        socket.emit('pickQuestion', { categoryId: $(this).attr('data-category-id'), index: getCategoryIndexAndUpdateElement($(this)) });

        if (getHowManyCategoryLeft(categoryBtn) === 0) {
            enableAllCategories(categoryBtn);
        }
    });

    function addPlayerToList(player) {
        let playerListHtml = playerTableBody.html();
        playerListHtml += '<tr id="' + player.socket_id + '">' +
            '                   <td>' + player.name + '</td>' +
            '                   <td>' + player.point + '</td>' +
            '                   <td>' +
            '                       <button type="button" class="btn btn-info btn-sm btn-authorize" data-socket-id="' + player.socket_id + '">' +
            '                           <%= controlPanel.authorizeBtn %>' +
            '                       </button>' +
            '                   </td>' +
            '               </tr>';
        playerTableBody.html(playerListHtml);
    }

    function getCategoryIndexAndUpdateElement(element) {
        let index = element.attr('data-category-index');
        index++;
        if (index % 3 === 0) {
            element.prop('disabled', true);
            element.removeClass('btn-success');
            element.addClass('btn-warning');
        }
        element.attr('data-category-index', index);
        return index;
    }

    function getHowManyCategoryLeft(categories) {
        counter = 0;
        for (let i = 0; i < categories.length; i++) {
            if (!$(categories[i]).prop('disabled')) {
                counter++;
            }
        }
        return counter;
    }

    function enableAllCategories(categories) {
        let index = 0;
        for (let i = 0; i < categories.length; i++) {
            $(categories[i]).prop('disabled', false);
            $(categories[i]).removeClass('btn-warning');
            $(categories[i]).addClass('btn-success');
            if (i === 0) {
                index = $(categories[i]).attr('data-category-index');
            }
        }
        socket.emit('raiseCategoryLimit', { index: index });
    }

</script>
<style>
    #logo-container {
        display: none;
    }


    .container {
        max-width: 100%;
    }
</style>