<div class="row">
    <div class="card text-white bg-dark col-4">
        <div class="row">
            <%- include('partials/category-buttons'); %>
        </div>
    </div>
</div>

<style>
    #logo-container {
        display: none;
    }


    .container {
        max-width: 100%;
    }
</style>