<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-quora"></i></h1>
            <p><%- index.welcomeMsg %></p>
            <a href="/login" class="btn btn-primary btn-block mb-2"><%- index.loginBtn %></a>
            <a href="/register" class="btn btn-warning btn-block"><%- index.registerBtn %></a>
        </div>
    </div>
</div>