<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-quora"></i></h1>
      <p><%- welcomeMsg %></p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"><%- loginBtn %></a>
      <a href="/users/login" class="btn btn-warning btn-block"><%- registerBtn %></a>
    </div>
  </div>
</div>