<div class="mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center text-dirty bg-gray shadow bordered">
            <img id="main-logo" src="logo/logo-sm.png">
            <p id="welcome-msg"><%- index.welcomeMsg %></p>
        </div>
    </div>
</div>
<script>
$(document).ready(() => {
    $('#link-home').addClass('active');
});
</script>