#logo-container {
    padding-left: 45%;
}

#logo {
    width: 200px;
    height: 200px;
}

#language-select {
    margin-top: 40px;
    width: 50%;
    left: 25%
}

#welcome-msg {
    margin: 40px 0 40px 0;
}

#logout-btn-container {
    margin-bottom: 40px;
}

.max-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.btn-category-container {
    padding: 10px;
}